<!-- @page "{id:int}" -->
<!-- @model FuerzaG.Pages.Users.CreateModel -->
<!-- @{ -->
<!--     ViewData["Title"] = "Crear Usuario"; -->
<!-- } -->
<!-- <h2>Crear Nuevo Usuario</h2> -->
<!---->
<!-- <form method="post"> -->
<!--     <partial name="_UserFields" model="Model.User" /> -->
<!---->
<!--     <button type="submit" class="btn btn-primary">Crear Usuario</button> -->
<!--     <a asp-page="UserPage" class="btn btn-secondary">Cancelar</a> -->
<!-- </form> -->
<!---->
<!-- @if (TempData["SuccessMessage"] != null) -->
<!-- { -->
<!--     <div class="alert alert-success mt-3"> -->
<!--         @TempData["SuccessMessage"] -->
<!--     </div> -->
<!-- } -->
